<template>
  <v-app-bar
    app
    color="primary"
    dark
  >
    <v-toolbar-title>Page title</v-toolbar-title>
    <v-spacer />

    <div v-if="formAction">
      <v-btn
        text
        @click="saveForm"
      >
        Save
      </v-btn>
      <v-btn
        text
      >
        Cancel
      </v-btn>
    </div>
  </v-app-bar>
</template>

<script>
import { EventBus } from '@/plugins/eventBus';

export default {
  name: 'AppHeader',
  props: {
    formAction: {
      type: String,
      default: '',
    },
  },
  methods: {
    saveForm() {
      EventBus.$emit(this.formAction);
    },
  },
};
</script>

<style scoped>

</style>
