<template>
  <v-container class="content">
    <v-row>
      <v-col
        cols="3"
      >
        <ul>
          <router-link
            class="link"
            tag="li"
            :to="{ name: 'home'}"
          >
            Home
          </router-link>
          <router-link
            class="link"
            tag="li"
            :to="{ name: 'formOne'}"
          >
            form one
          </router-link>
          <router-link
            class="link"
            tag="li"
            :to="{ name: 'formSecond'}"
          >
            form second
          </router-link>
        </ul>
        <router-view name="leftSidebar" />
      </v-col>
      <v-col
        cols="9"
      >
        main
        <router-view />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'ContentLayout',
};
</script>

<style scoped>
.content {
  margin-top: 70px
}
  .link {
    cursor: pointer;
    text-decoration: underline;
  }
</style>
