<template>
  <section>
    form second
  </section>
</template>

<script>
import { EventBus } from '@/plugins/eventBus';

export default {
  name: 'FormSecond',
  mounted() {
    EventBus.$on('save-form-second', this.saveForm);
  },
  destroyed() {
    EventBus.$off('save-form-second');
  },
  methods: {
    saveForm() {
      // eslint-disable-next-line no-alert
      window.alert('Form second Saved');
    },
  },
};
</script>

<style scoped>

</style>
